In [7]:
import pandas as pd
import numpy as np

In [40]:
data = pd.read_csv('HW1-data.csv')

In [41]:
data

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN
5,3823,1,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,...,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
6,5448,0,NaN,NaN,3.0,1.0,1.0,4.0,NaN,5.0,...,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,5.0,2.0
7,5347,0,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,...,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,4117,1,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,...,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,2765,0,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,...,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,5450,1,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,...,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,139,0,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,...,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,1940,0,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,...,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3118,1,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,...,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4656,1,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,...,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
15,4796,1,NaN,NaN,1.0,NaN,3.0,2.0,NaN,2.0,...,5.0,NaN,NaN,NaN,5.0,2.0,2.0,4.0,3.0,4.0
16,6037,0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,3048,1,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,4790,0,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,...,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,4489,0,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,...,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

In [58]:
# Top movies by mean score
means = data.iloc[:, 2:].mean().sort_values(ascending=False)
means

318: Shawshank Redemption, The (1994)                      3.600000
260: Star Wars: Episode IV - A New Hope (1977)             3.266667
541: Blade Runner (1982)                                   3.222222
1265: Groundhog Day (1993)                                 3.166667
593: Silence of the Lambs, The (1991)                      3.062500
296: Pulp Fiction (1994)                                   3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
2028: Saving Private Ryan (1998)                           3.000000
34: Babe (1995)                                            3.000000
527: Schindler's List (1993)                               3.000000
3578: Gladiator (2000)                                     2.916667
2396: Shakespeare in Love (1998)                           2.909091
1198: Raiders of the Lost Ark (1981)                       2.909091
2571: Matrix, The (1999)                                   2.833333
2762: Sixth Sense, The (1999)                              2.833333
1: Toy Story (1995)                                        2.823529
780: Independence Day (ID4) (1996)                         2.769231
356: Forrest Gump (1994)                                   2.700000
1259: Stand by Me (1986)                                   2.636364
2916: Total Recall (1990)                                  1.916667
dtype: float64

In [108]:
# Counts
counts = data.iloc[:, 2:].count()
counts.sort_values(ascending=False)

1: Toy Story (1995)                                        17
593: Silence of the Lambs, The (1991)                      16
260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
780: Independence Day (ID4) (1996)                         13
2762: Sixth Sense, The (1999)                              12
527: Schindler's List (1993)                               12
2571: Matrix, The (1999)                                   12
1265: Groundhog Day (1993)                                 12
2916: Total Recall (1990)                                  12
3578: Gladiator (2000)                                     12
2028: Saving Private Ryan (1998)                           11
1259: Stand by Me (1986)                                   11
296: Pulp Fiction (1994)                                   11
1198: Raiders of the Lost Ark (1981)                       11
2396: Shakespeare in Love (1998)                           11
318: Shawshank Redemption, The (1994)                      10
356: Forrest Gump (1994)                                   10
34: Babe (1995)                                            10
541: Blade Runner (1982)                                    9
dtype: int64

In [109]:
# Top movies by percentage of positive marks
counts_positive = data.iloc[:, 2:][data.iloc[:, 2:] >= 4].count()
counts_positive.sort_values(ascending=False)
(counts_positive / counts).sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      0.700000
260: Star Wars: Episode IV - A New Hope (1977)             0.533333
3578: Gladiator (2000)                                     0.500000
541: Blade Runner (1982)                                   0.444444
593: Silence of the Lambs, The (1991)                      0.437500
2571: Matrix, The (1999)                                   0.416667
1265: Groundhog Day (1993)                                 0.416667
34: Babe (1995)                                            0.400000
296: Pulp Fiction (1994)                                   0.363636
2028: Saving Private Ryan (1998)                           0.363636
1259: Stand by Me (1986)                                   0.363636
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.357143
1: Toy Story (1995)                                        0.352941
527: Schindler's List (1993)                               0.333333
2762: Sixth Sense, The (1999)                              0.333333
780: Independence Day (ID4) (1996)                         0.307692
356: Forrest Gump (1994)                                   0.300000
2396: Shakespeare in Love (1998)                           0.272727
1198: Raiders of the Lost Ark (1981)                       0.272727
2916: Total Recall (1990)                                  0.083333
dtype: float64

In [110]:
# Percentage of people who watched Toy Story also watched...
associative_product = '1: Toy Story (1995)'

watched_product = data.iloc[:, 2:][data[associative_product].notnull()].count()
(watched_product / data[associative_product].count()).sort_values(ascending=False)

1: Toy Story (1995)                                        1.000000
260: Star Wars: Episode IV - A New Hope (1977)             0.823529
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.764706
593: Silence of the Lambs, The (1991)                      0.764706
780: Independence Day (ID4) (1996)                         0.764706
1265: Groundhog Day (1993)                                 0.647059
2916: Total Recall (1990)                                  0.647059
296: Pulp Fiction (1994)                                   0.588235
2762: Sixth Sense, The (1999)                              0.588235
527: Schindler's List (1993)                               0.588235
3578: Gladiator (2000)                                     0.529412
1259: Stand by Me (1986)                                   0.529412
1198: Raiders of the Lost Ark (1981)                       0.529412
2571: Matrix, The (1999)                                   0.529412
2028: Saving Private Ryan (1998)                           0.470588
2396: Shakespeare in Love (1998)                           0.470588
318: Shawshank Redemption, The (1994)                      0.470588
34: Babe (1995)                                            0.470588
541: Blade Runner (1982)                                   0.411765
356: Forrest Gump (1994)                                   0.411765
dtype: float64

In [111]:
# Correlation between Toy Story and other movie ratings
data.iloc[:, 2:].corrwith(data[associative_product]).sort_values(ascending=False)

1: Toy Story (1995)                                        1.000000
318: Shawshank Redemption, The (1994)                      0.888523
34: Babe (1995)                                            0.811107
296: Pulp Fiction (1994)                                   0.709842
2028: Saving Private Ryan (1998)                           0.596849
356: Forrest Gump (1994)                                   0.522913
541: Blade Runner (1982)                                   0.329634
3578: Gladiator (2000)                                     0.253396
2916: Total Recall (1990)                                  0.163796
2396: Shakespeare in Love (1998)                           0.101768
1265: Groundhog Day (1993)                                -0.062858
780: Independence Day (ID4) (1996)                        -0.069923
260: Star Wars: Episode IV - A New Hope (1977)            -0.119005
527: Schindler's List (1993)                              -0.220315
2762: Sixth Sense, The (1999)                             -0.245770
1198: Raiders of the Lost Ark (1981)                      -0.309067
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.314504
593: Silence of the Lambs, The (1991)                     -0.568258
1259: Stand by Me (1986)                                  -0.610300
2571: Matrix, The (1999)                                  -0.721995
dtype: float64

In [118]:
# Means separate by gender
gender_column_name = 'Gender (1 =F, 0=M)'
male_means = data.iloc[:, 2:][data[gender_column_name] == 0].mean()
female_means = data.iloc[:, 2:][data[gender_column_name] == 1].mean()

In [119]:
# Male means
male_means.sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       3.666667
527: Schindler's List (1993)                               3.500000
1265: Groundhog Day (1993)                                 3.500000
318: Shawshank Redemption, The (1994)                      3.400000
593: Silence of the Lambs, The (1991)                      3.333333
2571: Matrix, The (1999)                                   3.142857
2028: Saving Private Ryan (1998)                           3.142857
260: Star Wars: Episode IV - A New Hope (1977)             3.125000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
1259: Stand by Me (1986)                                   3.000000
541: Blade Runner (1982)                                   3.000000
780: Independence Day (ID4) (1996)                         2.857143
3578: Gladiator (2000)                                     2.833333
2762: Sixth Sense, The (1999)                              2.666667
296: Pulp Fiction (1994)                                   2.625000
1: Toy Story (1995)                                        2.300000
356: Forrest Gump (1994)                                   2.250000
2916: Total Recall (1990)                                  2.200000
2396: Shakespeare in Love (1998)                           2.142857
34: Babe (1995)                                            2.000000
dtype: float64

In [120]:
#Female means
female_means.sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           4.250000
296: Pulp Fiction (1994)                                   4.000000
318: Shawshank Redemption, The (1994)                      3.800000
1: Toy Story (1995)                                        3.571429
541: Blade Runner (1982)                                   3.500000
34: Babe (1995)                                            3.428571
260: Star Wars: Episode IV - A New Hope (1977)             3.428571
3578: Gladiator (2000)                                     3.000000
2762: Sixth Sense, The (1999)                              3.000000
356: Forrest Gump (1994)                                   3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
1265: Groundhog Day (1993)                                 2.833333
2028: Saving Private Ryan (1998)                           2.750000
593: Silence of the Lambs, The (1991)                      2.714286
780: Independence Day (ID4) (1996)                         2.666667
527: Schindler's List (1993)                               2.500000
1259: Stand by Me (1986)                                   2.428571
2571: Matrix, The (1999)                                   2.400000
1198: Raiders of the Lost Ark (1981)                       2.000000
2916: Total Recall (1990)                                  1.714286
dtype: float64

In [146]:
# Overall mean ratings 
male_average_mean = data.iloc[:, 2:][data[gender_column_name] == 0].sum().sum() / data.iloc[:, 2:][data[gender_column_name] == 0].count().sum()
female_average_mean = data.iloc[:, 2:][data[gender_column_name] == 1].sum().sum() / data.iloc[:, 2:][data[gender_column_name] == 1].count().sum()
print("Male avg. mean: {} Female avg. mean: {}".format(male_average_mean, female_average_mean))

Male avg. mean: 2.90551181102 Female avg. mean: 2.94736842105

In [123]:
# Movies that female users rate highest above male raters

(female_means - male_means).sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           2.107143
34: Babe (1995)                                            1.428571
296: Pulp Fiction (1994)                                   1.375000
1: Toy Story (1995)                                        1.271429
356: Forrest Gump (1994)                                   0.750000
541: Blade Runner (1982)                                   0.500000
318: Shawshank Redemption, The (1994)                      0.400000
2762: Sixth Sense, The (1999)                              0.333333
260: Star Wars: Episode IV - A New Hope (1977)             0.303571
3578: Gladiator (2000)                                     0.166667
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
780: Independence Day (ID4) (1996)                        -0.190476
2028: Saving Private Ryan (1998)                          -0.392857
2916: Total Recall (1990)                                 -0.485714
1259: Stand by Me (1986)                                  -0.571429
593: Silence of the Lambs, The (1991)                     -0.619048
1265: Groundhog Day (1993)                                -0.666667
2571: Matrix, The (1999)                                  -0.742857
527: Schindler's List (1993)                              -1.000000
1198: Raiders of the Lost Ark (1981)                      -1.666667
dtype: float64

In [124]:
# Movies that male users rate highest above female raters

(male_means - female_means).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       1.666667
527: Schindler's List (1993)                               1.000000
2571: Matrix, The (1999)                                   0.742857
1265: Groundhog Day (1993)                                 0.666667
593: Silence of the Lambs, The (1991)                      0.619048
1259: Stand by Me (1986)                                   0.571429
2916: Total Recall (1990)                                  0.485714
2028: Saving Private Ryan (1998)                           0.392857
780: Independence Day (ID4) (1996)                         0.190476
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
3578: Gladiator (2000)                                    -0.166667
260: Star Wars: Episode IV - A New Hope (1977)            -0.303571
2762: Sixth Sense, The (1999)                             -0.333333
318: Shawshank Redemption, The (1994)                     -0.400000
541: Blade Runner (1982)                                  -0.500000
356: Forrest Gump (1994)                                  -0.750000
1: Toy Story (1995)                                       -1.271429
296: Pulp Fiction (1994)                                  -1.375000
34: Babe (1995)                                           -1.428571
2396: Shakespeare in Love (1998)                          -2.107143
dtype: float64

In [147]:
# Difference between the average rating overall

female_average_mean - male_average_mean

0.0418566100290092

In [153]:
data.iloc[:, 2:][data[gender_column_name] == 1].mean(axis=0)

260: Star Wars: Episode IV - A New Hope (1977)             3.428571
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
356: Forrest Gump (1994)                                   3.000000
318: Shawshank Redemption, The (1994)                      3.800000
593: Silence of the Lambs, The (1991)                      2.714286
3578: Gladiator (2000)                                     3.000000
1: Toy Story (1995)                                        3.571429
2028: Saving Private Ryan (1998)                           2.750000
296: Pulp Fiction (1994)                                   4.000000
1259: Stand by Me (1986)                                   2.428571
2396: Shakespeare in Love (1998)                           4.250000
2916: Total Recall (1990)                                  1.714286
780: Independence Day (ID4) (1996)                         2.666667
541: Blade Runner (1982)                                   3.500000
1265: Groundhog Day (1993)                                 2.833333
2571: Matrix, The (1999)                                   2.400000
527: Schindler's List (1993)                               2.500000
2762: Sixth Sense, The (1999)                              3.000000
1198: Raiders of the Lost Ark (1981)                       2.000000
34: Babe (1995)                                            3.428571
dtype: float64

In [173]:
# Positive (> 4) ratings by male

counts_positive_male = data.iloc[:, 2:][(data >= 4)][data[gender_column_name] == 0].count()
counts_positive_male.sort_values(ascending=False)

593: Silence of the Lambs, The (1991)                      5
260: Star Wars: Episode IV - A New Hope (1977)             4
2571: Matrix, The (1999)                                   4
3578: Gladiator (2000)                                     3
527: Schindler's List (1993)                               3
1265: Groundhog Day (1993)                                 3
318: Shawshank Redemption, The (1994)                      3
1198: Raiders of the Lost Ark (1981)                       3
2762: Sixth Sense, The (1999)                              2
1210: Star Wars: Episode VI - Return of the Jedi (1983)    2
780: Independence Day (ID4) (1996)                         2
296: Pulp Fiction (1994)                                   2
2028: Saving Private Ryan (1998)                           2
1: Toy Story (1995)                                        2
1259: Stand by Me (1986)                                   1
2916: Total Recall (1990)                                  1
541: Blade Runner (1982)                                   1
2396: Shakespeare in Love (1998)                           0
356: Forrest Gump (1994)                                   0
34: Babe (1995)                                            0
dtype: int64

In [175]:
# Percentage of positive ratings by male

counts_male = data.iloc[:, 2:][data[gender_column_name] == 0].count()
percentage_positive_male = (counts_positive_male / counts_male)
percentage_positive_male.sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      0.600000
2571: Matrix, The (1999)                                   0.571429
593: Silence of the Lambs, The (1991)                      0.555556
260: Star Wars: Episode IV - A New Hope (1977)             0.500000
527: Schindler's List (1993)                               0.500000
1265: Groundhog Day (1993)                                 0.500000
1198: Raiders of the Lost Ark (1981)                       0.500000
3578: Gladiator (2000)                                     0.500000
2762: Sixth Sense, The (1999)                              0.333333
2028: Saving Private Ryan (1998)                           0.285714
780: Independence Day (ID4) (1996)                         0.285714
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
1259: Stand by Me (1986)                                   0.250000
296: Pulp Fiction (1994)                                   0.250000
1: Toy Story (1995)                                        0.200000
2916: Total Recall (1990)                                  0.200000
541: Blade Runner (1982)                                   0.200000
2396: Shakespeare in Love (1998)                           0.000000
356: Forrest Gump (1994)                                   0.000000
34: Babe (1995)                                            0.000000
dtype: float64

In [174]:
# Positive (> 4) ratings by female

counts_positive_female = data.iloc[:, 2:][(data >= 4)][data[gender_column_name] == 1].count()
counts_positive_female.sort_values(ascending=False)

34: Babe (1995)                                            4
1: Toy Story (1995)                                        4
318: Shawshank Redemption, The (1994)                      4
260: Star Wars: Episode IV - A New Hope (1977)             4
541: Blade Runner (1982)                                   3
2396: Shakespeare in Love (1998)                           3
3578: Gladiator (2000)                                     3
356: Forrest Gump (1994)                                   3
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3
1259: Stand by Me (1986)                                   3
1265: Groundhog Day (1993)                                 2
780: Independence Day (ID4) (1996)                         2
296: Pulp Fiction (1994)                                   2
2028: Saving Private Ryan (1998)                           2
593: Silence of the Lambs, The (1991)                      2
2762: Sixth Sense, The (1999)                              2
2571: Matrix, The (1999)                                   1
527: Schindler's List (1993)                               1
2916: Total Recall (1990)                                  0
1198: Raiders of the Lost Ark (1981)                       0
dtype: int64

In [176]:
# Percentage of positive ratings by female

counts_female = data.iloc[:, 2:][data[gender_column_name] == 1].count()
percentage_positive_female = (counts_positive_female / counts_female)
percentage_positive_female.sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      0.800000
541: Blade Runner (1982)                                   0.750000
2396: Shakespeare in Love (1998)                           0.750000
296: Pulp Fiction (1994)                                   0.666667
34: Babe (1995)                                            0.571429
1: Toy Story (1995)                                        0.571429
260: Star Wars: Episode IV - A New Hope (1977)             0.571429
2028: Saving Private Ryan (1998)                           0.500000
3578: Gladiator (2000)                                     0.500000
356: Forrest Gump (1994)                                   0.500000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.500000
1259: Stand by Me (1986)                                   0.428571
780: Independence Day (ID4) (1996)                         0.333333
1265: Groundhog Day (1993)                                 0.333333
2762: Sixth Sense, The (1999)                              0.333333
593: Silence of the Lambs, The (1991)                      0.285714
2571: Matrix, The (1999)                                   0.200000
527: Schindler's List (1993)                               0.166667
2916: Total Recall (1990)                                  0.000000
1198: Raiders of the Lost Ark (1981)                       0.000000
dtype: float64

In [177]:
# Female-male difference in the liking percentage

(percentage_positive_female - percentage_positive_male).sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           0.750000
34: Babe (1995)                                            0.571429
541: Blade Runner (1982)                                   0.550000
356: Forrest Gump (1994)                                   0.500000
296: Pulp Fiction (1994)                                   0.416667
1: Toy Story (1995)                                        0.371429
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
2028: Saving Private Ryan (1998)                           0.214286
318: Shawshank Redemption, The (1994)                      0.200000
1259: Stand by Me (1986)                                   0.178571
260: Star Wars: Episode IV - A New Hope (1977)             0.071429
780: Independence Day (ID4) (1996)                         0.047619
3578: Gladiator (2000)                                     0.000000
2762: Sixth Sense, The (1999)                              0.000000
1265: Groundhog Day (1993)                                -0.166667
2916: Total Recall (1990)                                 -0.200000
593: Silence of the Lambs, The (1991)                     -0.269841
527: Schindler's List (1993)                              -0.333333
2571: Matrix, The (1999)                                  -0.371429
1198: Raiders of the Lost Ark (1981)                      -0.500000
dtype: float64

In [178]:
# Male-female difference in liking percentage
(percentage_positive_male - percentage_positive_female).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       0.500000
2571: Matrix, The (1999)                                   0.371429
527: Schindler's List (1993)                               0.333333
593: Silence of the Lambs, The (1991)                      0.269841
2916: Total Recall (1990)                                  0.200000
1265: Groundhog Day (1993)                                 0.166667
2762: Sixth Sense, The (1999)                              0.000000
3578: Gladiator (2000)                                     0.000000
780: Independence Day (ID4) (1996)                        -0.047619
260: Star Wars: Episode IV - A New Hope (1977)            -0.071429
1259: Stand by Me (1986)                                  -0.178571
318: Shawshank Redemption, The (1994)                     -0.200000
2028: Saving Private Ryan (1998)                          -0.214286
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.250000
1: Toy Story (1995)                                       -0.371429
296: Pulp Fiction (1994)                                  -0.416667
356: Forrest Gump (1994)                                  -0.500000
541: Blade Runner (1982)                                  -0.550000
34: Babe (1995)                                           -0.571429
2396: Shakespeare in Love (1998)                          -0.750000
dtype: float64